html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Graduate', cursive;
    color: #484747
}

/* latin */
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  src: local('Graduate'), local('Graduate-Regular'), url('../fonts/font-family.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.bg-blue {
    background-color: #72BFAE;
    left: 0;
}

.bg-yellow {
    background-color: #FAE188;
    right: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.message {
    height: 160px;
    padding: 16px;
    display: flex;
}

.bubble {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    padding: 0px 16px;
    line-height: 0px;
    display: flex;
    align-items: center;
}

.setscore {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 160px;
    display: flex;
    padding: 0px 16px;
}

.footer > * {
    flex: 1;
}

.matchscore {
    display: flex;
    justify-content: center;
}

.right-serve {
    text-align: right;
}

h1 {
    font-size: 300px;
    margin: 0;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 60px;
}

