body {
    background-color: #8B0000;
      color: White;
      font-size: 14px;
      font-weight: 200;
}

#banner {
   background-size: cover;
   background-position: center;
   height: 220px;
   border-bottom: 3px solid White;
   border-top: 3px solid White;
}

#banner .contentOne {
  border: 5px solid white;
  position: relative;
  top: 60px;
  width: 500px;
  margin: 0 auto;
  color: white;
  transform-origin: center;
  text-align: center;
  font-size: 30px;
  margin-left: 300px;
  margin-top: -25px;
}

#banner .contentTwo {
  border: 5px solid white;
  position: relative;
  top: 60px;
  width: 500px;
  margin: 0 auto;
  color: white;
  transform-origin: center;
  text-align: center;
  font-size: 30px;
  margin-right: 300px;
  margin-top: -160px;
}


h4 {
  color: White;
  font-size: 25px;
}

table {
  height: 40%;
  margin: 15px auto;
  overflow-y: scroll;
  position: relative;
  width: 60%;
}

thead th {
  background: #E9967A;
  color: #FFF;
  font-family: 'Georgia', sans-serif;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #B22222;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Georgia', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}