body {
    background-color: #8B0000;
      color: White;
      font-size: 14px;
      font-weight: 200;
}

#banner {
   background-size: cover;
   background-position: center;
   height: 220px;
   border-bottom: 3px solid White;
   border-top: 3px solid White;
}

#banner .contentOne {
  border: 5px solid white;
  position: relative;
  top: 60px;
  width: 500px;
  margin: 0 auto;
  color: white;
  transform-origin: center;
  text-align: center;
  font-size: 30px;
  margin-left: 300px;
  margin-top: -25px;
}

#banner .contentTwo {
  border: 5px solid white;
  position: relative;
  top: 60px;
  width: 500px;
  margin: 0 auto;
  color: white;
  transform-origin: center;
  text-align: center;
  font-size: 30px;
  margin-right: 300px;
  margin-top: -160px;
}

#setScoreLeft {
    border: 12px solid white;
    position: relative;
    top: 80px;
    width: 400px;
    right: 400px;
    padding: 20px;
    margin: 0 auto;
    color: white;
    transform-origin: center;
    text-align: center;
    font-size: 70px;

}

#setScoreRight {
    border: 12px solid white;
    position: relative;
    top: 80px;
    width: 400px;
    left: 400px;
    padding: 20px;
    margin: 0 auto;
    color: white;
    transform-origin: center;
    text-align: center;
    font-size: 70px;
    margin-top: -412px;

}

#matchScoreLeft {
    border: 6px solid white;
    position: relative;
    top: 80px;
    width: 200px;
    right: 285px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    transform-origin: center;
    text-align: center;
    font-size: 40px;

}

#matchScoreRight {
    border: 6px solid white;
    position: relative;
    top: 80px;
    width: 200px;
    left: 285px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    transform-origin: center;
    text-align: center;
    font-size: 40px;
    margin-top: -200px;

}


h4 {
  color: White;
  font-size: 25px;
}
