<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leader Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{css/stylesheet-base.css}" rel="stylesheet"/>
    <link th:href="@{css/stylesheet-leaderboard.css}" rel="stylesheet"/>
</head>
<body>
    <div id="banner">
        <div class="contentOne">
            <h1>
                Leaderboard
            </h1>
        </div>
        <div class="contentTwo">
            <h1>
                <a th:href="@{/game}">
                    <font color="orange">
                        Current Game
                    </font>
                </a>
            </h1>
        </div>
    </div>
    <br/>
    <br/>
    <i>
        <h1>
            <center>
                Here you can see the best players of the week!
            </center>
        </h1>
    </i>
    <br/>
    <br/>
    <table>
        <thead>
        <tr>
            <th>Place</th>
            <th>Player</th>
            <th>Number of Games won</th>
            <th>Total Points</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user,iterationStatus : ${players}">
            <tr>
                <td th:text="${iterationStatus.index+1}">index</td>
                <td th:text="${user.getName()}">username</td>
                <td th:text="${user.getNumberOfGamesWon()}"></td>
                <td th:text="${user.getTotalPoints()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>
